{% extends "base.html" %}

{% block title %}Inscription{% endblock %}

{% block content %}
<div class="form-wrapper">
    <h2>Inscrivez-vous</h2>
    <form method="post" class="form-container">
        {% csrf_token %}
        <div class="form-group">
            <label for="nom">Nom :</label>
            {{ form.nom }}
        </div>
        <div class="form-group">
            <label for="prenoms">Prénoms :</label>
            {{ form.prenoms }}
        </div>
        <div class="form-group">
            <label for="numero">Numéro :</label>
            {{ form.numero }}
        </div>
        <div class="form-group">
            <label for="date_naissance">Date de naissance :</label>
            {{ form.date_naissance }}
        </div>
        <div class="form-group">
            <label for="departement">Brigade :</label>
            {{ form.departement }}
        </div>
        <div class="form-group">
            <label for="role">Rôle :</label>
            {{ form.role }}
        </div>
        <button type="submit" class="btn-submit">S'inscrire</button>
    </form>
</div>
{% endblock %}
